svg {
    width: 100%
}

path {
    fill: none;
    stroke: black
}

.background {
  fill: rgba(200,212,220,.5);
  stroke-width: .8px;
  stroke: black;
}

.graticule {
    stroke: rgba(0,0,0, .2);
    stroke-width: .5px;
}

.country {
    cursor: pointer;
}

.country .land, .state .land {
    fill: white;
    stroke: rgba(0,0,0, .2);
    stroke-width .3px;
}

.state .overlay {
    fill: blue;
    fill-opacity: 0;
}

.country .overlay {
    fill: orange;
    fill-opacity: 0;
}

#globe-ctrl{
    /*display: none;*/
}

.glyphicon-globe{
    font-size: 600px;
}

#title{
    margin: 0 auto;
    text-align: center;
}

#glober:hover{
    color:papayawhip;
}

.button{
    margin-left: 60px;
}

/*#globe-ctrl{
    width:100%;
    height:100%;
    margin:0 auto;
    text-align: center;
}*/

canvas{
    height: 450px;
    width: 450px;
}

body{
    /*background-color: papayawhip;*/
}

.hidden{
    display: none;
}

.shown{
    display: block;
}

#text-list{
    text-align: center;
}

#country-list{
    text-align: center;
}

h4{
    width: 50%;
}